data/Auckland/Wastewater/Wastewater_Pipe.csv filter=lfs diff=lfs merge=lfs -text
data/Auckland/Stormwater/Stormwater_Pipe.csv filter=lfs diff=lfs merge=lfs -text
data/Montpellier/SewerRDF_Montpellier.ttl filter=lfs diff=lfs merge=lfs -text
